* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#root {
  width: 100vw;
  max-width: 100%;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  width: 100vw;
  max-width: 100%;
}

.movieBox {
  text-align: center;
  margin: 3rem 0 3rem 0;
}

.movieBox img,
.movieBox p {
  margin-bottom: 0.5rem;
}
.movieBox h2 {
  margin-bottom: 1rem;
}

.movieBox span {
  font-weight: bold;
}
